In [41]:
import emcommon.metrics.transit.transit as transit

In [42]:
df = transit.retrieve_transit_fares_dataframe()

In [43]:
#This cell was created for reading convenience.

columns = list(df.columns)

# Move 'Fare Revenues per Unlinked Passenger Trip' to the third position
columns.insert(2, columns.pop(columns.index('Fare Revenues per Unlinked Passenger Trip')))

# Reorder the DataFrame
df = df[columns]
display(df.head())

,Agency,City,Fare Revenues per Unlinked Passenger Trip,State,NTD ID,Organization Type,Reporter Type,Report Year,UACE Code,UZA Name,...,Total Operating Expenses,Total Operating Expenses Questionable,Unlinked Passenger Trips,Unlinked Passenger Trips Questionable,Vehicle Revenue Hours,Vehicle Revenue Hours Questionable,Passenger Miles,Passenger Miles Questionable,Vehicle Revenue Miles,Vehicle Revenue Miles Questionable
0,"Dunklin County Transit Service, Inc.",Malden,0.00,MO,70063,Private-Non-Profit Corporation,Rural Reporter,2022,NaN,NaN,...,586515,NaN,20973,NaN,8082,NaN,0,NaN,197519,NaN
1,MTA New York City Transit,Brooklyn,1.90,NY,20008,"Subsidiary Unit of a Transit Agency, Reporting...",Full Reporter,2022,63217.0,"New York--Jersey City--Newark, NY--NJ",...,467111823,NaN,2484579,NaN,2070897,NaN,24395099,NaN,22151691,NaN
2,MTA New York City Transit,Brooklyn,1.30,NY,20008,"Subsidiary Unit of a Transit Agency, Reporting...",Full Reporter,2022,63217.0,"New York--Jersey City--Newark, NY--NJ",...,5349756161,NaN,1788363060,NaN,20848895,NaN,7055402031,NaN,338199451,NaN
3,MTA New York City Transit,Brooklyn,6.18,NY,20008,"Subsidiary Unit of a Transit Agency, Reporting...",Full Reporter,2022,63217.0,"New York--Jersey City--Newark, NY--NJ",...,260991861,NaN,8045660,NaN,590916,NaN,120130708,NaN,9484995,NaN
4,MTA New York City Transit,Brooklyn,1.20,NY,20008,"Subsidiary Unit of a Transit Agency, Reporting...",Full Reporter,2022,63217.0,"New York--Jersey City--Newark, NY--NJ",...,2897009660,NaN,458602306,NaN,11822039,NaN,1088139630,NaN,82638609,NaN

In [44]:
transit.calculate_cost_per_pmt(df, 'bus')
print('-' * 80)
transit.calculate_cost_per_pmt(df, 'train')
print('-' * 80)
transit.calculate_cost_per_pmt(df, 'subway')

Mode category: bus
Total Fare Revenue: 2768242207.9599996
Total Passenger Miles: 10111540221
Cost per Passenger Mile Traveled ($/PMT) for bus: 0.27377057772176167
Weighted Average Fare Revenues per Unlinked Passenger Trip: 1.0028702802274847
Non-weighted Average Fare Revenues per Unlinked Passenger Trip: 0.9456302521008404
--------------------------------------------------------------------------------
Mode category: train
Total Fare Revenue: 4983602512.690001
Total Passenger Miles: 17094346380
Cost per Passenger Mile Traveled ($/PMT) for train: 0.29153513108408186
Weighted Average Fare Revenues per Unlinked Passenger Trip: 1.7881872555459086
Non-weighted Average Fare Revenues per Unlinked Passenger Trip: 3.5836764705882356
--------------------------------------------------------------------------------
Mode category: subway
Total Fare Revenue: 3134105767.72
Total Passenger Miles: 9812801701
Cost per Passenger Mile Traveled ($/PMT) for subway: 0.31938949376716846
Weighted Average Fare Revenues per Unlinked Passenger Trip: 1.380463235955372
Non-weighted Average Fare Revenues per Unlinked Passenger Trip: 1.5633333333333332